<div class="col-8">
  <h6>Наши контактные данные:</h6>
  <img src="http://smak.kg/wp-content/uploads/2018/08/20180802_193531.jpg " alt="" style="width: 10rem">
  <p>Наш адрес:<Strong>ул. 7 Апреля 13а, м-н Восток-5</Strong></p>
  <p>Наши номера: <br>  <Strong>0500 55 22 77</Strong>, <br> <strong>0703 15 44 89</strong></p>
  <p>Вы можете нам написать:<Strong>arzu_uraimova@mai.ru</Strong></p>
  <button class="btn-success" (click)=" openCheckoutModal()" > Посмотреть на карте</button>
</div>

<app-modal
  title="Посмотреть на карте"
  [isOpen]="modalOpen"
  (close)="closeCheckOutModal()"
>
  <div class="modal-body">
    <h3>Проезд</h3>
    <img src="https://static-maps.yandex.ru/1.x/?l=map&lang=ru-Ru&size=370,175&z=17&ll=74.636278,42.871931&pt=74.636278,42.871931,round"
         alt="map" style="width: 10rem">
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="closeCheckOutModal()">Cancel</button>
    <button class="btn btn-success" (click)="continue()">Открыть в 2Gis</button>
  </div>

</app-modal>
