<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a routerLink="/"  class="navbar-brand text-center logo" >Инжир</a>

  <div class=" navbar-expand ">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
       <a routerLink="/"  class="nav-link">Home</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a routerLink="/menu"  class="nav-link">Menu</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/contacts" class="nav-link" >Contacts</a>
      </li>
    </ul>
  </div>
</nav>

