<div class="col-8">
  <h5 class="font-italic ">{{ section }}</h5>
  <a href="">
    <p>{{ sectionName1 }}</p>
  </a>  <a href="">
    <p>{{ sectionName2 }}</p>
  </a>  <a href="">
    <p>{{ sectionName3 }}</p>
  </a>
</div>
