<h5>Выберите блюда:</h5>
<div class="col row">
  <app-dishes *ngFor="let section of menu"
              [section]="section.section"
              [sectionName1]="section.name1"
              [sectionName2]="section.name2"
              [sectionName3]="section.name3"
  ></app-dishes>
</div>
