<div class="body">
  <header>
    <app-toolbar></app-toolbar>
  </header>
  <main class="container-fluid">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <p>Бишкек 2021г.</p>
  </footer>
</div>
