.container-fluid{
  background: #c4c1c7;
  font-family: Trattatello, fantasy;
  min-height: 1000px;
}
.footer{
  background: #ba7cc1;
  text-align: center;
  position:fixed;
  left: 0;
  bottom: 0;
  height:30px;
  width:100%;
}
