<div class="card m-2" style="width: 12rem">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvTeGRmOvOkKODGVt9UkccMeOW5IKmr1YrFw&usqp=CAU"
       alt="Lagman" class="card-img-top photo" >
  <div class="card-body">
    <h5 class="card-title">{{ dishName }}</h5>
    <p class="card-text">{{ dishConsist }}</p>
    <p><strong>{{ dishPrice }}</strong>KGS</p>
    <a href="#" class="btn button">Заказать</a>
  </div>
</div>
