<div class="main-title pt-5 text-center">
  <h4 class="font-italic page-item">Желаете вкусно и плотно покушать? <br>
    Сдерживает бюджет? <br>
    Приходите к нам и Ваши желания сбудутся!
  </h4>
  <h5 class="font-italic mt-3">Популярные блюда:</h5>
  <div class="popular-menu d-flex row">
    <app-dish *ngFor="let dish of popularMenu"
              [dishName]="dish.name"
              [dishConsist]="dish.consist"
              [dishPrice]="dish.price"
    ></app-dish>
  </div>
</div>

